{% extends 'mainapp/base.html' %}
{% block content %}
<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Специальность</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            {% for item in items_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.midlename }}</td>
                <td>{{ item.special }}</td>
                <td>{{ item.created }}</td>
                <td><a href="/edit/" ><img style="text-align: right" src="../static/img/cogwheel.png" width="16"></a></td>
                <td><a href="/delete/" ><img style="text-align: right" src="../static/img/delete.png" width="16"></a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <h6>Подано документов:</h6>
        <table>
            <tr>
                <td>За сегодня:</td>
                <td>{{ today_item }}</td>
            </tr>
            <tr>
                <td>Всего:</td>
                <td>{{ len_items }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}