<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>
{% block title %}
  {{ title|title}}
{% endblock %}
</title>
{% block css %}
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock %}
</head>
<body>
<div class="container">
{% block menu %}
  {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}
{% block content %}

{% endblock %}
</div>
{% block footer %}
  <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; Алтайский государственный колледж 2022</span>
  </div>
</footer>
{% endblock %}
  </body>
</html>