{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">>
        {% csrf_token %}
        {{ register_form.as_p }}
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'auth:login' %}" class="">Войти</a>
    </button>
{% endblock %}