<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!--    <a class="navbar-brand" href="#">Навигация</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                <a class="nav-link" href="{% url 'abit' %}">Абитуриенты</a>
                <a class="nav-link" href="{% url 'otchets' %}">Отчеты</a>
                <a class="nav-link" href="{% url 'add' %}">Добавить</a>
                {% if user.is_authenticated %}
                <li class="nav-link" >
                    <a href="{% url 'auth:edit' %}">
                        {{ user.username|default:'Пользователь' }}
                    </a>
                </li>
                {% endif %}
                <li class="nav-link" >
                    {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">выйти</a>
                    {% else %}
                    <a href="{% url 'auth:login' %}">войти</a>
                    {% endif %}
                </li>
                <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </div>
        </div>
    </div>
</nav>